In [16]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [17]:
df = pd.read_csv("metadataclean1.csv")

In [18]:
df.head(10)

,Unnamed: 0,panel_name,image_name,lebel,time,LUX,TEMP (Celcius),power
0,0,d-1-3-1,d-1-3-1.jpg,d,1,1350,27.0,23.4639
1,1,d-1-3-2,d-1-3-2.jpg,d,1,1350,27.0,23.4639
2,2,d-1-3-3,d-1-3-3.jpg,d,1,1350,27.0,23.4639
3,3,d-1-3-4,d-1-3-4.jpg,d,1,1350,27.0,23.4639
4,4,d-1-4-1,d-1-4-1.jpg,d,1,1380,27.1,22.2275
5,5,d-1-4-2,d-1-4-2.jpg,d,1,1380,27.1,22.2275
6,6,d-1-4-3,d-1-4-3.jpg,d,1,1380,27.1,22.2275
7,7,d-1-4-4,d-1-4-4.jpg,d,1,1380,27.1,22.2275
8,8,d-1-5-1,d-1-5-1.jpg,d,1,1460,27.3,26.9468
9,9,d-1-5-2,d-1-5-2.jpg,d,1,1460,27.3,26.9468

In [19]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [20]:
df.head(10)

  panel_name   image_name lebel  time   LUX  TEMP (Celcius)    power
0    d-1-3-1  d-1-3-1.jpg     d     1  1350            27.0  23.4639
1    d-1-3-2  d-1-3-2.jpg     d     1  1350            27.0  23.4639
2    d-1-3-3  d-1-3-3.jpg     d     1  1350            27.0  23.4639
3    d-1-3-4  d-1-3-4.jpg     d     1  1350            27.0  23.4639
4    d-1-4-1  d-1-4-1.jpg     d     1  1380            27.1  22.2275
5    d-1-4-2  d-1-4-2.jpg     d     1  1380            27.1  22.2275
6    d-1-4-3  d-1-4-3.jpg     d     1  1380            27.1  22.2275
7    d-1-4-4  d-1-4-4.jpg     d     1  1380            27.1  22.2275
8    d-1-5-1  d-1-5-1.jpg     d     1  1460            27.3  26.9468
9    d-1-5-2  d-1-5-2.jpg     d     1  1460            27.3  26.9468

In [21]:
le = LabelEncoder()
df['lebel'] = le.fit_transform(df['lebel'])

In [22]:
df

    panel_name    image_name  lebel  time   LUX  TEMP (Celcius)    power
0      d-1-3-1   d-1-3-1.jpg      1     1  1350            27.0  23.4639
1      d-1-3-2   d-1-3-2.jpg      1     1  1350            27.0  23.4639
2      d-1-3-3   d-1-3-3.jpg      1     1  1350            27.0  23.4639
3      d-1-3-4   d-1-3-4.jpg      1     1  1350            27.0  23.4639
4      d-1-4-1   d-1-4-1.jpg      1     1  1380            27.1  22.2275
..         ...           ...    ...   ...   ...             ...      ...
754   w-3-34-4  w-3-34-4.jpg      3     3  2568            27.4  37.9780
755   w-3-35-1  w-3-35-1.jpg      3     3  2501            27.1  36.0126
756   w-3-35-2  w-3-35-2.jpg      3     3  2501            27.1  36.0126
757   w-3-35-3  w-3-35-3.jpg      3     3  2501            27.1  36.0126
758   w-3-35-4  w-3-35-4.jpg      3     3  2501            27.1  36.0126

[759 rows x 7 columns]

In [23]:
X = df[['lebel','time','LUX','TEMP (Celcius)']]
y = df['power']

In [25]:
df.to_csv('metadatav1.csv')

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [75]:
#StandardScaler for normalize

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
#Linear Regression

In [14]:
reg = LinearRegression()

In [15]:
reg.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred = reg.predict(X_test)

In [37]:
y_pred

array([27.51927711, 25.75715217, 44.65253649, 26.02005852, 45.21509471,
       49.08888168, 31.33343853, 69.46100177, 27.00522189, 17.97839937,
       56.09777919, 27.29159112, 68.18524785, 29.62284413, 25.98382756,
       25.87801031, 33.24409594, 28.3422481 , 49.64523215, 45.40637416,
       30.30205453, 38.86440564, 28.52285215, 49.41507198, 46.93424538,
       33.26009538, 17.97839937, 25.43642688, 33.24409594, 33.60627245,
       29.28187744, 28.71385632, 40.79743434, 27.8709808 , 65.93108675,
       27.48630982, 58.79969264, 18.4062786 , 20.42775366, 13.43957329,
       19.93936021, 33.26009538, 32.76494485, 56.09777919, 46.82091262,
       45.72092064, 69.7620858 , 50.00536435, 33.95802819, 22.58688656,
       27.79297251, 32.42360989, 64.8166639 , 20.42775366, 33.60627245,
       54.16143812, 46.3675816 , 28.20867394, 27.79297251, 50.18666401,
       32.74046149, 47.51191932, 64.8166639 , 50.45735868, 18.27233617,
       28.3422481 , 29.09799985, 27.8709808 , 26.61722531, 38.78169623,
       46.3675816 , 30.44738616, 70.98158936, 52.63539628, 28.05587887,
       49.41507198, 23.43342455, 30.9157482 , 58.79969264, 45.40637416,
       18.57549345, 47.51787702, 56.55111021, 28.3422481 , 30.99380854,
       28.43958142, 66.89944143, 31.46410742, 56.09777919, 33.95802819,
       28.82006249, 59.56392833, 30.52023611, 33.10300628, 35.16871837,
       58.82223917, 48.48392657, 17.38204184, 50.34391228, 55.45803359,
       28.19175814, 27.49903571, 27.32455842, 49.41507198, 71.03516633,
       29.89054301, 49.60705446, 29.09799985, 39.18896579, 38.86440564,
       49.58910618, 28.09958315, 27.48630982, 13.58066296, 27.00522189,
       69.86923975, 46.93424538, 28.82006249, 50.18666401, 65.93108675,
       37.5011002 , 29.89054301, 28.32362733, 49.51664727, 20.42775366,
       40.79743434, 47.51787702, 28.46636991, 49.05059035, 51.28789723,
       28.05587887, 69.46100177, 56.09777919, 30.52023611, 19.43588405,
       63.501532  , 53.90520326, 54.26811633, 28.43958142, 54.16143812,
       14.47423083, 38.86440564, 26.66999303, 39.01167412, 14.1097492 ,
       38.86440564, 58.82223917, 29.49409144, 39.01167412, 68.15228055,
       66.2687799 , 66.89944143])

In [40]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean squared error: 241.31560065126695
R-squared: 0.40825732514847135

In [41]:
#RandomForest

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
rfr = RandomForestRegressor(n_estimators=100)
rfr.fit(X_train, y_train)
y_pred = rfr.predict(X_test)

In [15]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean squared error: 0.6746369305192538
R-squared: 0.9978132374221422

In [140]:
from sklearn import externals
import joblib
from sklearn.ensemble import RandomForestRegressor

In [141]:
import pickle

with open("./rf_model.pkl", "wb") as file:
    pickle.dump(rfr, file)

In [142]:
with open("rf_model.pkl", "rb") as file:
    rf_model = pickle.load(file)

In [143]:
filename = 'RandomForestRegressor_model.joblib'
joblib.dump(rfr, filename)

# load the model from disk
loaded_model = joblib.load(filename)

In [145]:
loaded_model = joblib.load(filename)

lebel = input("Enter lebel: ")
time = input("Enter time: ")
LUX = input("Enter LUX: ")
TEMP = input("Enter TEMP: ")

user_input = [[lebel, time, LUX, TEMP]]

power_prediction = loaded_model.predict(user_input)

print("Predicted power:", power_prediction)

Enter lebel: 4
Enter time: 3
Enter LUX: 2000
Enter TEMP: 23
Predicted power: [80.616353]

In [22]:
#xgboost

In [23]:
from xgboost import XGBRegressor

In [24]:
xgb = XGBRegressor()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)

In [25]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean squared error: 1.9405125826280045
R-squared: 0.9952415670469363

In [26]:
#SVM

In [27]:
from sklearn.svm import SVR

In [28]:
svr = SVR(kernel='linear')
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)

In [29]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean squared error: 288.2656927878184
R-squared: 0.2931285351720706